<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Awesome Factorial</title>
    <script>
      window.__jslib = {
        webFont: true,
      };
    </script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/gh/gera2ld/js-lib@dist/unocss.js"
    ></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/gh/gera2ld/js-lib@dist/web-font.js"
    ></script>
  </head>
  <body>
    <div id="app" class="!block" hidden>
      <form @submit.prevent="onSubmit">
        Factorial:
        <input
          type="number"
          v-model="input"
          min="0"
          class="border border-gray-300 w-16"
        />! Times:
        <input
          type="number"
          v-model="times"
          min="1"
          class="border border-gray-300 w-8"
        />x
        <input
          type="submit"
          :disabled="calculating"
          class="bg-blue-400 rounded px-2 border border-gray-300"
        />
      </form>
      <div class="mt-4 grid grid-cols-4 grid-gap-1">
        <div class="font-bold">Provider</div>
        <div class="font-bold">Call Time</div>
        <div class="font-bold">Self Time</div>
        <div class="font-bold">Result</div>
        <template v-for="row in results" :key="row.name">
          <div v-text="row.name"></div>
          <div v-text="`${~~row.time}ms`"></div>
          <div v-text="`${~~row.selfTime}ms`"></div>
          <div
            :class="row.ok ? 'text-green-500' : 'text-red-500'"
            v-html="row.ok ? '&#x2713;' : '&#x2717;'"
          ></div>
        </template>
      </div>
      <div class="mt-4 break-all text-gray-400" v-text="output"></div>
    </div>
    <script type="module" src="index.js"></script>
  </body>
</html>
